<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion</title>
</head>
<body>
    <h1>Currency Exchange</h1>
    <p>
        <span th:utext="${from.currencyName}"></span>: <span th:utext="${from.currencySymbol + amount}"></span>
    </p>
    <p>
        <span th:utext="${to.currencyName}"></span>: <span th:utext="${to.currencySymbol + convertedAmount}"></span>
    </p>
    <a th:href="@{/}">Click here to do another conversion</a>
</body>
</html>